@using MVCDungcuhoctap.Models
@model List<Giohang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center">THÔNG TIN HÀNG HOÁ</h2>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold">
        <td> Mã Dụng Cụ</td>
        <td> Tên Dụng Cụ</td>
        <td> Ảnh Bìa</td>
        <td> Số Lượng</td>
        <td> Đơn Giá</td>
        <td> Thành Tiền</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td> @item.iMaDungCu </td> 
            <td> @item.sTenDungCu</td>
            <td> <img src="~/ImageSRC/@item.sAnhbia" width="80" /></td>
            @using (Html.BeginForm("Capnhatgiohang", "Giohang", new { @iMaSp = item.iMaDungCu }))
            {
                <td>
                    @item.iSoluong
                </td>
                <td>@String.Format("{0:0,0}",item.dDongia)</td>
                <td>@String.Format("{0:0,0}", item.dThanhtien)</td>
            }
        </tr>
    }
    <tr style="font-weight:bold; text-align:right;color:red">
        <td colspan="3"> Số lượng dụng cụ: @ViewBag.Tongsoluong</td>
        <td colspan="3"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VND</td>
    </tr>
    <tr style="font-weight:bold;color:blue;text-align:right">
        <td colspan="6">
            @Html.ActionLink("TRỞ VỀ GIỎ HÀNG","Giohang","Giohang")
        </td>
    </tr>
</table>
<h2 style="text-align:center">THÔNG TIN ĐẶT HÀNG</h2>
@{ 
    KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Họ tên khách hàng:</td>
            <td style="font-weight:bold"> @kh.HoTen </td>
        </tr>
        <tr style="height:40px">
            <td> Địa chỉ khách hàng:</td>
            <td style="font-weight:bold"> @kh.DiachiKH </td>
        </tr>
        <tr style="height:40px">
            <td> Điện thoại khách hàng:</td>
            <td style="font-weight:bold"> @kh.DienthoaiKH </td>
        </tr>
        <tr style="height:40px">
            <td> Ngày đặt:</td>
            <td style="font-weight:bold"> @DateTime.Now.ToShortDateString() </td>
        </tr>
        <tr style="height:40px">
            <td> Ngày giao hàng:</td>
            <td style="font-weight:bold">
                <input type="date" name="Ngaygiao" />
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value ="ĐỒNG Ý ĐẶT HÀNG" />
            </td>
        </tr>
    }
</table>

